In [27]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

The python module which is used to process and analyse data. Processing could include removing unknown values from the data or replacing unknown values with values which make sense, maybe 0. Analysing the data could include finding out the trend of a stock price, e.g. how the stock price changes with respect to the Nifty 50 basket of stocks.

In [28]:
data=pd.read_csv('INFY.csv')

In [29]:
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48

In [30]:
data.Date.value_counts()

25-Feb-2019    2
22-Mar-2019    2
09-May-2018    1
27-Dec-2018    1
11-Dec-2017    1
09-Nov-2018    1
08-Nov-2017    1
19-Jul-2018    1
17-May-2017    1
28-Jun-2018    1
13-Nov-2018    1
25-Jan-2019    1
16-Oct-2018    1
21-May-2018    1
22-Nov-2018    1
18-May-2018    1
20-Jul-2018    1
24-Aug-2017    1
16-Nov-2017    1
21-Feb-2019    1
03-May-2018    1
06-Oct-2017    1
06-Apr-2018    1
08-Jun-2017    1
24-Nov-2017    1
20-Jun-2017    1
29-Jan-2019    1
13-Sep-2017    1
23-Nov-2017    1
28-Feb-2019    1
              ..
14-Jul-2017    1
13-Mar-2018    1
03-Jan-2019    1
15-Feb-2019    1
18-Jul-2017    1
08-Aug-2018    1
24-Jul-2017    1
17-Jul-2018    1
10-Oct-2017    1
04-Dec-2018    1
24-Apr-2019    1
04-Jan-2019    1
09-Aug-2018    1
26-May-2017    1
21-Nov-2018    1
01-Dec-2017    1
27-Apr-2018    1
30-May-2017    1
25-Jan-2018    1
05-Dec-2018    1
03-Dec-2018    1
26-Sep-2017    1
24-Jan-2018    1
05-Apr-2018    1
25-Mar-2019    1
19-Sep-2018    1
15-Nov-2017    1
02-Apr-2018    1
02-Aug-2017    1
18-Oct-2017    1
Name: Date, Length: 494, dtype: int64

In [31]:
data[data.Date=='25-Feb-2019']

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
444,INFY,BL,25-Feb-2019,1220.15,734.95,734.95,734.95,734.95,734.95,734.95,1263230,9.284109e+08,1,0,0.00
445,INFY,EQ,25-Feb-2019,734.95,735.55,758.00,735.55,755.00,754.90,749.20,6547552,4.905414e+09,155205,3296211,50.34

In [32]:
data.Series.value_counts()

EQ    494
BL      2
Name: Series, dtype: int64

In [33]:
data=data[data.Series=='EQ']
data.reset_index(inplace=True , drop=True)

In [34]:
data.Series.value_counts()

EQ    494
Name: Series, dtype: int64

Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [35]:
data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,4.940000e+02,4.940000e+02,494.000000
mean,961.440789,961.070040,971.092713,951.052733,960.845648,960.945749,961.166498,6.056365e+06,5.469840e+09,1.361482e+05,3.605878e+06,61.759008
std,220.761549,220.091227,222.968974,218.714372,220.968590,221.029267,221.102384,5.451445e+06,4.770342e+09,8.557589e+04,2.840733e+06,9.924135
min,619.100000,621.000000,628.000000,599.850000,619.500000,619.100000,613.780000,5.457170e+05,5.060941e+08,1.388600e+04,3.077410e+05,26.380000
25%,735.025000,736.187500,742.700000,729.012500,734.125000,734.462500,735.720000,3.148044e+06,3.350973e+09,9.246300e+04,2.064895e+06,55.142500
50%,956.750000,957.525000,964.775000,948.000000,956.025000,955.975000,955.060000,4.905804e+06,4.601808e+09,1.197605e+05,3.053880e+06,62.270000
75%,1150.150000,1145.412500,1161.675000,1135.962500,1147.950000,1150.150000,1148.280000,7.303918e+06,6.042062e+09,1.551745e+05,4.332777e+06,68.767500
max,1441.100000,1449.000000,1467.900000,1430.000000,1440.000000,1441.100000,1451.300000,8.220248e+07,7.662502e+10,1.192900e+06,4.202849e+07,88.700000

In [36]:
data.iloc[-90:,3:10].describe().astype(int)

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price
count,90,90,90,90,90,90,90
mean,727,728,734,721,728,728,728
std,26,25,25,25,25,25,25
min,656,660,662,651,659,658,659
25%,719,720,726,712,720,720,720
50%,732,731,737,727,732,732,732
75%,744,743,751,736,744,744,744
max,767,770,773,761,769,767,766

Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [37]:
data.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [38]:
data['Date_new'] = pd.to_datetime(data['Date'],format='%d-%b-%Y')

In [39]:
data.dtypes

Symbol                            object
Series                            object
Date                              object
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
Date_new                  datetime64[ns]
dtype: object

In [40]:
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Date_new
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017-05-15
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017-05-16
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017-05-17
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017-05-18
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017-05-19

In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. 
( VWAP = sum(price*volume)/sum(volume) )

In [41]:
data['Month']=data.Date.str.slice(3)

In [42]:
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Date_new,Month
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017-05-15,May-2017
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017-05-16,May-2017
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017-05-17,May-2017
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017-05-18,May-2017
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017-05-19,May-2017

In [46]:
vwap=np.zeros(data.Month.unique().size)
for i,j in enumerate(data.Month.unique()):
    temp=data[data.Month==j]
    vwap[i]=((temp['Total Traded Quantity']*temp['Average Price']).sum())/((temp['Total Traded Quantity']).sum())
    
VWAP=pd.DataFrame(vwap,data.Month.unique())
VWAP.columns=['VWAP']
VWAP

                 VWAP
May-2017   968.538298
Jun-2017   948.419339
Jul-2017   981.299636
Aug-2017   924.295489
Sep-2017   897.289175
Oct-2017   932.378156
Nov-2017   968.930416
Dec-2017  1011.191554
Jan-2018  1113.079892
Feb-2018  1138.761033
Mar-2018  1163.889143
Apr-2018  1151.848207
May-2018  1199.100165
Jun-2018  1262.186575
Jul-2018  1331.159931
Aug-2018  1395.891197
Sep-2018   754.869868
Oct-2018   689.418844
Nov-2018   650.069258
Dec-2018   670.269590
Jan-2019   706.374299
Feb-2019   745.846287
Mar-2019   724.473532
Apr-2019   738.360650
May-2019   723.280975

In [47]:
def meanprice(df,x):
    
    return df.iloc[-x:,:]['Close Price'].mean()

print (meanprice(data,10))

np.round(meanprice(data,10),2)

726.365

726.36

In [48]:
def profitloss(df,x):
    print(np.round(100*(df.iloc[-1,:]['Close Price']-df.iloc[-(x+1),:]['Close Price'])/df.iloc[-(x+1),:]['Close Price'],3),'%')
    return

profitloss(data,10)

-1.215 %

The percentage change between 2 consecutive day's closing prices.

In [50]:
data['Day_Perc_Change']=100*data['Close Price'].pct_change()
data.iloc[0,-1]=0

In [51]:
data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Date_new,Month,Day_Perc_Change
0,INFY,EQ,15-May-2017,964.25,963.50,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017-05-15,May-2017,0.000000
1,INFY,EQ,16-May-2017,951.55,953.10,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017-05-16,May-2017,0.362566
2,INFY,EQ,17-May-2017,955.00,951.60,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017-05-17,May-2017,-0.230366
3,INFY,EQ,18-May-2017,952.80,943.00,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017-05-18,May-2017,0.939337
4,INFY,EQ,19-May-2017,961.75,961.50,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017-05-19,May-2017,-0.395113
5,INFY,EQ,22-May-2017,957.95,958.40,966.90,956.55,960.00,961.45,962.29,2751526,2.647755e+09,99616,2034031,73.92,2017-05-22,May-2017,0.365364
6,INFY,EQ,23-May-2017,961.45,964.65,967.00,954.10,957.50,957.30,960.16,2019991,1.939515e+09,80122,1436389,71.11,2017-05-23,May-2017,-0.431640
7,INFY,EQ,24-May-2017,957.30,960.00,965.50,949.60,957.00,954.80,958.37,2818143,2.700827e+09,56898,1913750,67.91,2017-05-24,May-2017,-0.261151
8,INFY,EQ,25-May-2017,954.80,961.00,986.60,961.00,981.00,983.30,978.16,5219257,5.105250e+09,76160,4108984,78.73,2017-05-25,May-2017,2.984918
9,INFY,EQ,26-May-2017,983.30,987.00,1000.00,980.60,996.05,995.70,994.06,2494002,2.479194e+09,63671,1477643,59.25,2017-05-26,May-2017,1.261060
10,INFY,EQ,29-May-2017,995.70,990.90,996.70,975.70,986.00,985.15,983.11,3154217,3.100929e+09,83084,2272869,72.06,2017-05-29,May-2017,-1.059556
11,INFY,EQ,30-May-2017,985.15,982.00,1000.00,978.65,993.00,996.20,995.45,1858455,1.850004e+09,62012,1280033,68.88,2017-05-30,May-2017,1.121657
12,INFY,EQ,31-May-2017,996.20,993.55,993.55,974.85,976.05,977.05,980.19,3881950,3.805051e+09,121323,3086038,79.50,2017-05-31,May-2017,-1.922305
13,INFY,EQ,01-Jun-2017,977.05,969.30,979.70,958.55,971.25,971.40,969.49,2754303,2.670263e+09,81421,1822506,66.17,2017-06-01,Jun-2017,-0.578271
14,INFY,EQ,02-Jun-2017,971.40,973.40,975.45,964.20,966.00,969.45,968.76,1958983,1.897793e+09,48927,1396644,71.29,2017-06-02,Jun-2017,-0.200741
15,INFY,EQ,05-Jun-2017,969.45,970.00,972.00,957.05,959.00,958.75,961.71,2731349,2.626761e+09,83794,1941199,71.07,2017-06-05,Jun-2017,-1.103719
16,INFY,EQ,06-Jun-2017,958.75,965.00,987.50,964.40,980.00,979.35,980.08,3504343,3.434526e+09,83178,2018029,57.59,2017-06-06,Jun-2017,2.148631
17,INFY,EQ,07-Jun-2017,979.35,985.00,988.90,945.00,959.30,961.30,963.75,6227523,6.001805e+09,139990,2519343,40.45,2017-06-07,Jun-2017,-1.843059
18,INFY,EQ,08-Jun-2017,961.30,962.95,962.95,948.15,956.05,956.45,952.81,3097676,2.951502e+09,88147,1778850,57.43,2017-06-08,Jun-2017,-0.504525
19,INFY,EQ,09-Jun-2017,956.45,938.55,950.95,923.00,949.00,948.60,937.55,7378831,6.918028e+09,161124,3054942,41.40,2017-06-09,Jun-2017,-0.820743
20,INFY,EQ,12-Jun-2017,948.60,943.35,965.20,940.10,964.40,963.85,953.95,4295838,4.097997e+09,89686,2215716,51.58,2017-06-12,Jun-2017,1.607632
21,INFY,EQ,13-Jun-2017,963.85,953.50,962.95,951.60,957.95,957.80,958.26,2468897,2.365834e+09,69355,1449584,58.71,2017-06-13,Jun-2017,-0.627691
22,INFY,EQ,14-Jun-2017,957.80,960.00,961.90,951.20,958.50,958.60,957.02,3719055,3.559195e+09,90312,2710765,72.89,2017-06-14,Jun-2017,0.083525
23,INFY,EQ,15-Jun-2017,958.60,959.65,967.95,949.60,951.35,952.10,956.12,2764031,2.642753e+09,67490,1852460,67.02,2017-06-15,Jun-2017,-0.678072
24,INFY,EQ,16-Jun-2017,952.10,949.10,953.85,936.00,937.00,940.25,942.47,5474225,5.159269e+09,109487,4241070,77.47,2017-06-16,Jun-2017,-1.244617
25,INFY,EQ,19-Jun-2017,940.25,939.95,940.25,928.00,930.80,929.85,931.98,3427930,3.194760e+09,82075,2297829,67.03,2017-06-19,Jun-2017,-1.106089
26,INFY,EQ,20-Jun-2017,929.85,935.00,946.90,934.05,944.25,943.55,943.01,2592198,2.444472e+09,105790,1509148,58.22,2017-06-20,Jun-2017,1.473356
27,INFY,EQ,21-Jun-2017,943.55,945.00,949.00,936.05,948.55,943.35,941.04,1867932,1.757792e+09,59945,1286468,68.87,2017-06-21,Jun-2017,-0.021197
28,INFY,EQ,22-Jun-2017,943.35,947.70,968.70,935.10,939.00,940.15,953.78,4732621,4.513896e+09,115123,2848768,60.19,2017-06-22,Jun-2017,-0.339217
29,INFY,EQ,23-Jun-2017,940.15,945.00,949.15,938.00,943.05,943.25,943.77,3201509,3.021489e+09,118944,2359021,73.68,2017-06-23,Jun-2017,0.329735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,INFY,EQ,27-Mar-2019,727.75,730.00,732.30,727.15,728.90,729.70,730.32,7387487,5.395200e+09,122789,5505910,74.53,2019-03-27,Mar-2019,0.267949
465,INFY,EQ,28-Mar-2019,729.70,730.00,745.00,730.00,739.10,737.80,739.73,9277241,6.862617e+09,187881,5521081,59.51,2019-03-28,Mar-2019,1.110045
466,INFY,EQ,29-Mar-2019,737.80,743.90,747.95,740.00,742.15,743.85,743.49,6924061,5.147991e+09,155083,4592403,66.33,2019-03-29,Mar-2019,0.820005
467,INFY,EQ,01-Apr-2019,743.85,742.00,760.00,742.00,753.75,755.10,754.32,6584982,4.967200e+09,149150,3788889,57.54,2019-04-01,Apr-2019,1.512402
468,INFY,EQ,02-Apr-2019,755.10,759.00,765.80,754.60,755.00,759.40,760.56,7283600,5.539625e+09,169885,4249666,58.35,2019-04-02,Apr-2019,0.569461
469,INFY,EQ,03-Apr-2019,759.40,756.00,758.50,746.80,751.65,753.30,752.48,6897127,5.189956e+09,200625,4213270,61.09,2019-04-03,Apr-2019,-0.803266
470,INFY,EQ,04-Apr-2019,753.30,751.40,753.80,745.10,748.95,747.90,748.43,7688525,5.754346e+09,178872,5138276,66.83,2019-04-04,Apr-2019,-0.716846
471,INFY,EQ,05-Apr-2019,747.90,750.90,760.95,748.00,759.55,759.30,758.69,6276040,4.761576e+09,148065,3851738,61.37,2019-04-05,Apr-2019,1.524268
472,INFY,EQ,08-Apr-2019,759.30,763.05,770.00,755.40,769.15,767.25,762.80,4919911,3.752910e+09,143815,2380635,48.39,2019-04-08,Apr-2019,1.047017
473,INFY,EQ,09-Apr-2019,767.25,770.00,773.00,758.20,760.80,760.60,765.16,6730692,5.150088e+09,146107,3353329,49.82,2019-04-09,Apr-2019,-0.866732
474,INFY,EQ,10-Apr-2019,760.60,764.00,766.70,751.30,752.85,752.70,759.53,7031088,5.340337e+09,134089,4201714,59.76,2019-04-10,Apr-2019,-1.038654
475,INFY,EQ,11-Apr-2019,752.70,751.75,751.75,740.05,743.40,742.70,744.27,8200995,6.103734e+09,158348,5047043,61.54,2019-04-11,Apr-2019,-1.328551
476,INFY,EQ,12-Apr-2019,742.70,743.10,751.55,740.60,748.00,747.75,746.82,7043212,5.260021e+09,165165,2587611,36.74,2019-04-12,Apr-2019,0.679952
477,INFY,EQ,15-Apr-2019,747.75,724.70,731.35,712.60,728.20,727.50,724.58,31574803,2.287863e+10,566543,16753549,53.06,2019-04-15,Apr-2019,-2.708124
478,INFY,EQ,16-Apr-2019,727.50,727.90,727.90,714.10,724.00,724.10,722.40,12524411,9.047647e+09,343101,7260034,57.97,2019-04-16,Apr-2019,-0.467354
479,INFY,EQ,18-Apr-2019,724.10,722.50,722.50,712.75,715.70,717.05,716.80,13801105,9.892654e+09,302789,8498108,61.58,2019-04-18,Apr-2019,-0.973622
480,INFY,EQ,22-Apr-2019,717.05,717.05,725.75,715.00,721.30,721.05,721.04,6455426,4.654647e+09,115955,3535056,54.76,2019-04-22,Apr-2019,0.557841
481,INFY,EQ,23-Apr-2019,721.05,723.90,730.00,718.40,725.80,728.20,726.32,5516668,4.006855e+09,130836,2893716,52.45,2019-04-23,Apr-2019,0.991609
482,INFY,EQ,24-Apr-2019,728.20,728.20,737.90,724.00,735.00,736.45,733.43,8285120,6.076540e+09,174385,4993503,60.27,2019-04-24,Apr-2019,1.132931
483,INFY,EQ,25-Apr-2019,736.45,736.45,737.65,727.05,730.05,728.55,730.72,8005235,5.849612e+09,174336,5361863,66.98,2019-04-25,Apr-2019,-1.072714
484,INFY,EQ,26-Apr-2019,728.55,731.00,739.80,729.00,738.60,738.00,736.11,6895168,5.075637e+09,151426,4168443,60.45,2019-04-26,Apr-2019,1.297097
485,INFY,EQ,30-Apr-2019,738.00,738.00,753.80,738.00,748.85,751.35,748.61,9920046,7.426242e+09,165676,6888736,69.44,2019-04-30,Apr-2019,1.808943
486,INFY,EQ,02-May-2019,751.35,747.00,748.40,729.50,730.80,730.80,738.19,6351352,4.688477e+09,115522,4071262,64.10,2019-05-02,May-2019,-2.735077
487,INFY,EQ,03-May-2019,730.80,722.90,731.00,718.20,723.65,723.60,725.26,6348116,4.604058e+09,133663,3735602,58.85,2019-05-03,May-2019,-0.985222
488,INFY,EQ,06-May-2019,723.60,715.00,721.80,710.65,717.15,718.40,718.07,8858265,6.360864e+09,148896,6519864,73.60,2019-05-06,May-2019,-0.718629
489,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.70,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21,2019-05-07,May-2019,0.856069
490,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.50,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24,2019-05-08,May-2019,-0.717687
491,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.80,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01,2019-05-09,May-2019,0.236324
492,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.00,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39,2019-05-10,May-2019,-0.582484
493,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.10,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70,2019-05-13,May-2019,0.397573

Add another column 'Trend' whose values are:
'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
'Positive' for 'Day_Perc_Change' in between 1 and 3
'Negative' for 'Day_Perc_Change' in between -1 and -3
'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
'Among top losers' for 'Day_Perc_Change' in between -3 and -7
'Bull run' for 'Day_Perc_Change' >7
'Bear drop' for 'Day_Perc_Change' <-7

In [54]:
data['Trend']=0

for i in np.arange(data.Day_Perc_Change.size):
    if (data.Day_Perc_Change[i]<0.5) and (data.Day_Perc_Change[i]>=-0.5):
        data['Trend'][i]='Slight or No Change'
    elif (data.Day_Perc_Change[i]<1) and (data.Day_Perc_Change[i]>=0.5):
        data['Trend'][i]='Slight Positive' 
    elif (data.Day_Perc_Change[i]<-0.5) and (data.Day_Perc_Change[i]>=-1):
        data['Trend'][i]='Slight Negative' 
    elif (data.Day_Perc_Change[i]<3) and (data.Day_Perc_Change[i]>=1):
        data['Trend'][i]='Positive' 
    elif (data.Day_Perc_Change[i]<-1) and (data.Day_Perc_Change[i]>=-3):
        data['Trend'][i]='Negative' 
    elif (data.Day_Perc_Change[i]<7) and (data.Day_Perc_Change[i]>=3):
        data['Trend'][i]='Among Top gainers' 
    elif (data.Day_Perc_Change[i]<-3) and (data.Day_Perc_Change[i]>=-7):
        data['Trend'][i]='Among Top Losers' 
    elif (data.Day_Perc_Change[i]>=7):
        data['Trend'][i]='Breakout Bull' 
    elif (data.Day_Perc_Change[i]<-7):
        data['Trend'][i]='Breakout Bear'

In [56]:
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Date_new,Month,Day_Perc_Change,Trend
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67,2017-05-15,May-2017,0.000000,Slight or No Change
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62,2017-05-16,May-2017,0.362566,Slight or No Change
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35,2017-05-17,May-2017,-0.230366,Slight or No Change
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32,2017-05-18,May-2017,0.939337,Slight Positive
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48,2017-05-19,May-2017,-0.395113,Slight or No Change

Average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.

In [57]:
data.Trend.value_counts()

Slight or No Change    156
Positive               106
Negative                87
Slight Positive         64
Slight Negative         58
Among Top gainers       12
Among Top Losers         9
Breakout Bear            2
Name: Trend, dtype: int64

In [58]:
trend_vol=data.groupby('Trend')['Total Traded Quantity'].agg(['mean','median'])

In [59]:
trend_vol.astype(int)

                         mean    median
Trend
Among Top Losers     14638537  10985897
Among Top gainers    12590627  12042170
Breakout Bear        48786302  48786302
Negative              5634151   5088554
Positive              6655530   5523811
Slight Negative       5454672   4616803
Slight Positive       5848807   5301784
Slight or No Change   4647983   4043539

In [62]:
data.to_csv('week2.csv',index=False)